{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% stylesheets filter='cssrewrite'
        'bundles/lgsale/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

    {% endstylesheets %}

    <title>{% block title %}LG Sale{% endblock %}</title>

    {% block stylesheets %}
        {# Bootstrap download #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
    {% endblock %}
</head>

<body>
    <div class="container">

        <div class="row">
            <div id="menu" class="col-md-12">
                <nav class="navbar navbar-inverse">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="navbar" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li {% if app.request.attributes.get('_route') == 'home' %}class="active"{% endif %}><a href="{{ path('home') }}">Accueil</a></li>
                                <li {% if app.request.attributes.get('_route') == 'price' %}class="active"{% endif %}><a href="{{ path('price') }}">Tickets</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>
            </div>
        </div>

        <div class="row">
            <div id="content" class="col-md-12">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        <h2 class="alert-heading"><span class="glyphicon glyphicon-thumbs-up"></span> <strong>FELICITATION !</strong></h2>
                        {{ message }}
                        <hr>
                        <p>Un mail de confirmation vient de vous être envoyé, veuillez ne pas le jeter il vous servira de ticket à l'entrée</p>
                    </div>
                {% endfor %}
                {% for message in app.flashes('warning') %}
                    <div class="alert alert-warning">
                        <h2 class="alert-heading">ATTENTION !</h2>
                        {{ message }}
                    </div>
                {% endfor %}
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <hr>
        <footer>
            <p>Better and Faster Every Day © {{ 'now'|date('Y') }} .</p>
            <p>Natural Design By LG</p>
        </footer>
    </div>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset("js/addTickets.js") }}"></script>
{% endblock %}

</body>
</html>