{# src/LG/SaleBundle/Resources/views/Sale/selling.html.twig #}

{% extends "LGSaleBundle::layout.html.twig" %}

{% block title %}

    Tarifs - {{ parent() }}

{% endblock %}

{% block lgsale_body %}

<div class="row">

    <div id="SaleContent" class="col-md-6">
        <h1>Musée du Louvre : Tarifs</h1>

        <h2> Le musée propose plusieurs types de tarifs :</h2>
        <ul>
            <li>Un tarif « normal » à partir de 12 ans à 16 €</li>
            <li>Un tarif « enfant » à partir de 4 ans et jusqu’à 12 ans, à 8 € (l’entrée est gratuite pour les enfants de moins de 4 ans)</li>
            <li>Un tarif « senior » à partir de 60 ans pour 12  €</li>
            <li>Un tarif « réduit » de 10 € (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…) </li>
        </ul>
        <p>Attention : il sera nécessaire de présenter sa carte d’étudiant, militaire ou équivalent lors de l’entrée afin de prouver que vous bénéficiez bien du tarif réduit.</p>
        <img id="PricePicture" src="{{ asset('bundles/lgsale/css/pictures/louvre_tarif.jpg') }}"/>
    </div>

    <div id="SaleContent" class="col-md-6">
        <h1>Achetez vos billets maintenant !</h1>
        <div class="well">
          {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-success" value="ACHETER"/>
            {{ form_end(form) }}
        </div>
    </div>



{% endblock %}

{% block javascripts %}
{{ parent() }}

     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.fr.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.js"></script>
     <script>

        $(document).ready(function() {

            $('.js-datepicker').datepicker(
                {
                    language: "fr",
                    daysOfWeekDisabled: [2,0],
                    autoclose: true,
                    todayHighlight: true,
                    format: 'dd-mm-yyyy',
                    datesDisabled: ['01/01/2018', '01/05/2018','08/05/2018','14/07/2018','15/08/2018','01/11/2018','11/11/2018','25/12/2018'],
                    startDate: date

            });
         });

        var date = new Date();
        date.setDate(date.getDate());


         $("#lg_salebundle_booking_visitDate").change(function() {
             var compDate = $(this).val();
             var time = date.getHours();
             var MyDateString;
                var year = date.getFullYear();
                var month = date.getMonth() + 1;
                    if (month < 10){
                        month = "0" + month;
                    }
                var day = date.getDate();
                    if (day < 10){
                        day = "0" + day;
                    }

            MyDateString = year + "-" + month + "-" + day;
            var dateEnglish = compDate.split("-");
            var dateVisit = dateEnglish[2]+"-"+dateEnglish[1]+"-"+dateEnglish[0];
            var currentDate = MyDateString;

            console.log(dateVisit);
            console.log(currentDate);

            if (currentDate == dateVisit && 14 <= time){
                var $radios = $('#lg_salebundle_booking_Type_1');
                 $radios.prop('checked', true);
                 document.getElementById('lg_salebundle_booking_Type_0').style.display = 'none';
                 document.querySelector("label[for=lg_salebundle_booking_Type_0]").style.display = 'none';

            }

            if (currentDate != dateVisit) {
                var $radios = $('#lg_salebundle_booking_Type_1');
                 $radios.prop('checked', false);
                document.getElementById('lg_salebundle_booking_Type_0').style.display = 'block';
                document.querySelector("label[for=lg_salebundle_booking_Type_0]").style.display = 'block';

            }

         })


    </script>

{% endblock %}