{# src/LG/SaleBundle/Resources/views/Sale/selling.html.twig #}

{% extends "LGSaleBundle::layout.html.twig" %}

{% block title %}

    Tarifs - {{ parent() }}

{% endblock %}

{% block lgsale_body %}

<div class="row">

    <div id="SaleContent" class="col-md-6">
        <h1>Musée du Louvre : Tarifs</h1>

        <h2> Le musée propose plusieurs types de tarifs :</h2>
<ul>
    <li>Un tarif « normal » à partir de 12 ans à 16 €</li>
    <li>Un tarif « enfant » à partir de 4 ans et jusqu’à 12 ans, à 8 € (l’entrée est gratuite pour les enfants de moins de 4 ans)</li>
    <li>Un tarif « senior » à partir de 60 ans pour 12  €</li>
    <li>Un tarif « réduit » de 10 € (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…) </li>
</ul>

<p>Attention : il sera nécessaire de présenter sa carte d’étudiant, militaire ou équivalent lors de l’entrée afin de prouver que vous bénéficiez bien du tarif réduit.</p>


    </div>

    <div id="SaleContent" class="col-md-6">
        <h1>Achetez vos billets maintenant !</h1>
        <div class="well">
          {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-success" value="ACHETER"/>
            {{ form_end(form) }}
        </div>
    </div>



{% endblock %}

{% block javascripts %}
{{ parent() }}

     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.fr.min.js"></script>
     <script>
        $(document).ready(function() {

            $('.js-datepicker').datepicker(
                {
                    language: "fr",
                    daysOfWeekDisabled: [2],
                    autoclose: true,
                    todayHighlight: true,
                    format: 'dd-mm-yyyy'

                });
        });
    </script>

{% endblock %}