{% extends "LGSaleBundle::layout.html.twig" %}

{% block title %}

    Tickets - {{ parent() }}

{% endblock %}

{% block lgsale_body %}


    <div class="row" id="ticketContentDiv">
        <div id="ticketHeaderContent" class="col-md-12">

            <h1>Résumé des réservations</h1>
        <hr>
        </div>

        <div id="ticketContentHeadear" class="col-md-12">
            Quantité de billet(s) acheté(s) : {{ booking.TicketNumber }}<br>
            Date de la visite : {{ booking.visitDate|date("m/d/Y") }}<br>
            <br>
        </div>
        <div id="ticketContent" class="col-md-12">
            {% for ticket in booking.tickets %}

                Ticket n° {{ loop.index }}<br>
                Nom         :   {{ ticket.nom }}<br>
                Prénom      :   {{ ticket.prenom }}<br>
                Nationalité :   {{ ticket.nationalite }}<br>

                Tarif       :   {{ ticket.tarif }} € {% if ticket.reduced == true %} (Vous avez droit aux tarifs réduits. Attention de bien emporter avec vous les documents justifiants cette réduction) {% endif %}
            <br><br>
            {% endfor %}

            <hr>
        </div>
        <div id="ticketfooter" class="col-md-12">
            <p>Total à payer : {{ booking.totalPrice }}€</p>
            <a href="{{ path('order_prepare') }}"> <input type="button" class="btn btn-success" value="PAYER"> </a>
        </div>

    </div>

{% endblock %}

